.section-girls .left-sidebar .shop-layout:first-child .layout-list {
	height: 400px;
	overflow-y: scroll;
	/*overflow-x: hidden;*/
}

.section-girls .pages a {
	vertical-align: top !important;
}


.section-single-girl .info-table td:last-child {
	text-align: right; 
	color: #f26522;
}


.section-single-girl .info-table td {
	font-weight: 600;
	padding: 11px;
}


.section-single-girl .services-table i.fa-check {
	margin-right: 3px; 
	color: #f26522;
}

.section-single-girl .services-table td {
	font-weight: 600;
}